<div class="all">
  <div class="container">
    <ng-progress></ng-progress>
    <div class="row">
      <div class="col-sm-6">
        <div *ngIf = "cece">
            <img src= "{{cece.avatar_url}}" class="img">
            <p> Name: {{cece.name}}</p>
            <p>Email:{{cece.email}}</p>
            <p>Number of repositories: {{cece.public_repos}}</p>
            <p>Followers: {{cece.followers}}</p>
            <p>Following: {{cece.following}}</p>
            <p>Created on: {{cece.created_at|date}}</p>
            <p>Bio: {{cece.bio}}</p>
  
        </div>
        
      </div>
  
      <div class="col=sm-6">
        User name: <input type="text" placeholder="Search.."  [(ngModel)]="userinfo">
        <button  class="btn btn-info"  (click)="find()"> <i class="fa fa-search"></i></button>
      </div>
    </div>
  </div>
</div>




